<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KBIA Election Tracker</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script type="text/javascript" src="js/lib/tabletop.js"></script>
</head>
<body>
<h1 class="text-center">Missouri and Columbia Election Results</h1>
<div class="hidden-xs">
	<div class="container-fluid">
	<div class="reported">Last Updated 10:25 p.m. on March 15</div>
	<div class="col-sm-4">
		<h3 class="text-center">GOP Presidential Nomination</h3>
		<canvas id="gop-nom" width="200" height="200"></canvas>
		<div class="reported">
			2262 of 3041 precincts reported.
		</div>
		<!--<div class="result text-center">
			<span class="glyphicon glyphicon-ok"></span> Test
		</div>-->
		<!--<div class="result text-center">
			<span class="glyphicon glyphicon-remove"></span> No Data
		</div>-->
	</div>
	<div class="col-sm-4">
		<h3 class="text-center">Dem. Presidential Nomination</h3>
		<canvas id="dem-nom" width="200" height="200"></canvas>
		<div class="reported">
			2262 of 3041 precincts reported.
		</div>
		<!--<div class="result text-center">
			<span class="glyphicon glyphicon-ok"></span> Test
		</div>-->
		<!--<div class="result text-center">
			<span class="glyphicon glyphicon-remove"></span> No Data
		</div>-->
	</div>
	<div class="col-sm-4">
		<h3 class="text-center">City of Columbia Proposition One</h3>
		<canvas id="prop" width="200" height="200"></canvas>
		<div class="reported">
			38 of 38 precincts reported.
		</div>
		<div class="result text-center">
			<span class="glyphicon glyphicon-ok"></span> Yes
		</div>
		<!--<div class="result text-center">
			<span class="glyphicon glyphicon-remove"></span> No Data
		</div>-->
	</div>
</div>
</div>
<div class="visible-xs container-fluid">
	<a class="ghost-button ghost-button-fill" href="http://apps.kbia.org/election-tracker/full.html" target="_blank">
		View Now
	</a>
</div>
	<script type="text/javascript" src="js/mkchart-2016prim.js"></script>
</body>
</html>